@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.no-adverts-block {
  height: 300px;
  color: lightgrey;
  vertical-align: middle;
  background: url('assets/pin.png') center no-repeat;
}

.nothing-found-block {
  height: 300px;
  color: lightgrey;
  vertical-align: middle;
  background: url('assets/search.png') center no-repeat;
}

.finger:hover {
  cursor: pointer;
}

.avatar{
  height: 75%;
  width: 75%;
}

.img-icon {
  height: 32px;
  width: 32px;
}

textarea {
  resize: vertical;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
